{% extends 'layout.html' %}
{% set sidebar=sidebar %}
{% set title="-By Avctivity" %}
{% block body %}
    <form action="byactivity" method="POST">
        <div class="form-group">
            <label for="sel1">Select list (select one):</label>
            <select class="form-control" id="sel1" style="width: 75%" name="act">
                <option value="mop">Mop</option>
                <option value="kitchen">Kitchen Cleaning</option>
                <option value="corridor">Corridor Cleaning</option>
            </select>
            <br>
            <button type="submit" name="submit" class="btn btn-info">Submit</button>
        </div>
    </form>
    {% if tables == 1 %}
        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Data Table
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Activity</th>
                            <th>Area</th>
                            <th>Date</th>
                            <th>Session</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for emp in emps %}
                            <tr>
                                {% for e in emp %}
                                    <td>{{ e }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    {% else %}
        <br>
    {% endif %}

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    {% include 'includes/_bs_in.html' %}
{% endblock %}