{% extends 'layout.html' %}
{% block title %}-By Avctivity{% endblock %}
{% block body %}
    <form action="byactivity" method="POST">
        <div class="form-group">
            <label for="sel1">Select list (select one):</label>
            <select class="form-control" id="sel1" style="width: 75%" name="act">
                <option value="mop">Mop</option>
                <option value="kitchen">Kitchen</option>
                <option value="corridor">Corridor</option>
            </select>
            <br>
            <button type="submit" name="submit">Submit</button>
        </div>
    </form>
    {% if tables == 1 %}
        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Data Table Example
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Activity</th>
                            <th>Area</th>
                            <th>Date</th>
                            <th>Session</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for emp in emps %}
                            <tr>
                                {% for e in emp %}
                                    <td>{{ e }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    {% else %}
        <br>
    {% endif %}

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="http://127.0.0.1:5000/static/vendor/jquery/jquery.min.js"></script>
    <script src="http://127.0.0.1:5000/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="http://127.0.0.1:5000/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="http://127.0.0.1:5000/static/vendor/chart.js/Chart.min.js"></script>
    <script src="http://127.0.0.1:5000/static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="http://127.0.0.1:5000/static/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="http://127.0.0.1:5000/static/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="http://127.0.0.1:5000/static/js/demo/datatables-demo.js"></script>
    <script src="http://127.0.0.1:5000/static/js/demo/chart-area-demo.js"></script>
{% endblock %}