<ul class="sidebar navbar-nav">
    {% if sidebar.home %}
        <li class="nav-item active">
            <a class="nav-link" href="/home">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/byactivity">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>By Activity</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/bydate">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>By Date</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/byarea">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>By Area</span></a>
        </li>
    {% elif sidebar.byactivity %}
        <li class="nav-item">
            <a class="nav-link" href="/home">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/byactivity">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>By Activity</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/bydate">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>By Date</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/byarea">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>By Area</span></a>
        </li>
    {% elif sidebar.bydate %}
        <li class="nav-item">
            <a class="nav-link" href="/home">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/byactivity">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>By Activity</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/bydate">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>By Date</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/byarea">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>By Area</span></a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/home">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/byactivity">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>By Activity</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/bydate">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>By Date</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/byarea">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>By Area</span></a>
        </li>
    {% endif %}
</ul>